body{
  background-image: linear-gradient(to right, rgb(22, 19, 19), rgb(8, 226, 250));
  color: #fff;
}
.bn
{
  font-family: 'Roboto', sans-serif;
}

.bnn{
  font-family: 'Victor Mono', monospace;
}
.vertical-center {
  width: 100%;
  text-align: center;
 
}